<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Data Wizardry</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- jquery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- load c3 css -->
<link rel="stylesheet" href="../vendors/stylesheets/c3.css">

<!-- load d3 and c3 js -->
<script src="../vendors/javascripts/d3.min.js"></script>
<script src="../vendors/javascripts/c3.min.js"></script>

<!-- main.css -->
<link rel="stylesheet" href="/stylesheets/main.css">

</head>
<body>

