<% include partials/header %>
<div class="container">
<div class="divider">

</div>
<div class="row">
  <div class="col-xs-6 text-center">
    <h2>Load Data</h2>
    <hr>
    <div id="dataTable"></div>
  </div>
  <div class="col-xs-6 text-center">
    <h2>Chart Options</h2>
    <hr>

    <div class="row">
      <!-- chart type input -->
      <div class="col-xs-6 text-center">
        <p class="lead option-title">Chart Type</p>
        <select name="chart-type" id="chart-type">
          <option value="bar">Bar Graph</option>
          <option value="line">Line Chart</option>
          <option value="spline">Spline Chart</option>
          <option value="pie">Pie Chart</option>
          <option value="area-spline">Area Chart</option>
          <option value="donut">Donut Chart</option>
        </select>
      </div>
      <!-- color picker  -->
      <div class="col-xs-6 text-center">
        <p class="lead option-title">Color Palette</p>
        <select name="color-palette" id="color-palette">
          <option value="circus">Circus</option>
          <option value="odd">Odd</option>
          <option value="sea-wolf">Sea Wolf</option>
          <option value="tech-office">Tech Office</option>
          <option value="5">Area Chart</option>
          <option value="5">Donut Chart</option>
        </select>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 text-center">
    <div id="chart"></div>
  </div>
</div>

</div>
<script src="/javascripts/scripts.js"></script>

<% include partials/footer %>