<% include partials/header %>
<div class="container">
<header>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
      <h1>Data <img src="/images/hat.svg" alt="Data Wizard" id="logo"> Wizard</h1>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-xs-6 text-center">
    <h3 class="title">Load Data</h3>
    <br>
    <div id="dataTable"></div>
  </div> <!-- end div to load data -->

  <div class="col-xs-6 text-center">
    <h3 class="title">Chart Options</h3>
    <br>

    <div class="row">
      <!-- chart type input -->
      <div class="col-xs-6 text-center">
        <p class="lead option-title">Chart Type</p>
        <select name="chart-type" id="chart-type">
          <option value="bar">Bar Graph</option>
          <option value="line">Line Chart</option>
          <option value="spline">Spline Chart</option>
          <option value="pie">Pie Chart</option>
          <option value="area-spline">Area Chart</option>
          <option value="donut">Donut Chart</option>
        </select>
      </div>
      <!-- color picker  -->
      <div class="col-xs-6 text-center">
        <p class="lead option-title">Color Palette</p>
        <select name="color-palette" id="color-palette">
          <option value="salmon">Salmon on Ice</option>
          <option value="circus">Circus</option>
          <option value="odd">Odd</option>
          <option value="sea-wolf">Sea Wolf</option>
          <option value="tech-office">Tech Office</option>
          <option value="dusty-petrol">Dusty Petrol</option>
        </select>
      </div><!-- end color picker div -->
    </div><!-- end first row of chart options -->
    <div class="row">

    </div>
  </div> <!-- end chart options div -->
</div> <!-- end row for datatable and chart options -->

<hr>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 text-center">
    <div id="chart"></div>
  </div>
</div>

</div>
<script src="/javascripts/scripts.js"></script>

<script id="infogram_0_test-333298531593" src="//e.infogr.am/js/embed.js?e1l" type="text/javascript"></script><div style="width:100%;border-top:1px solid #acacac;padding-top:3px;font-family:Arial;font-size:10px;text-align:center;"><a target="_blank" href="https://infogr.am/test-333298531593" style="color:#acacac;text-decoration:none;"></a> |<a style="color:#acacac;text-decoration:none;" href="https://infogr.am" target="_blank">Create infographics</a></div>

<% include partials/footer %>