header{
  height: 70px;
  padding-top: 15px;
  font-family: 'Raleway', sans-serif;
}

header h1 {
  font-weight: 100;
}

body{

}

.option-title{
  border-bottom: 1px solid #999;
}

.title{
  border-bottom: 1px solid #333;
  font-weight: 400;
}

#logo{
  width: 65px;
  height: 65px;
}
